
{{!-- <input type="checkbox" id="employeeName" name="employee" value="{{first_name}} {{last_name}}">
<label for="employeeName">{{first_name}} {{last_name}}</label> --}}


<option value="{{first_name}} {{last_name}}">{{first_name}} {{last_name}}</option>